<div>
   <h3> How Regresso Works</h3>
   <hr/>
   <ul>
       <li>
           This app is use to solve basic linear and pearson correlation
       </li>
       <li>
           The apps alogarithm is based on the programmers understanding of the regression model
       </li>
       <li><strong>
           Please use only the fields needed and leave unuse field intact. otherwise you might get 
           Nan = error for an answer
           </strong>
       </li>
       <li><strong>
            Please make sure the total number of values for either Y or X is entered
            </strong>
        </li>
       <li>
           Please the programmer will love to get feedback and suggestions on how the app could be
           made better from all users. Navigate to contact to get developer details
       </li>
   </ul>
   <br/>
   
</div>