
<div>
    <div id = "me">
    <img src = "assets\images\rita4.gif" alt = "hello" style = "height: 200px; padding-top: 0; margin-top: 0;"/>
    </div>
    <h2>Welcome To Regresso</h2>
    <hr>
    <h3>Learn to solve all your SFC correlation questions</h3><br/>
    <h4>With a single Click</h4>
    <p>Please navigate through the left panel and choose your option</p>
    <br/>
    <br/>
    



 <!--<h2>
     Welcome To SFC Regression Model Taught By Sir Glover
    </h2>
     <p>Read the following rules to be on track</p>
 <hr>
 <ul>
     <li>In a question, the top or left values are always the X values</li>
     <li>In a question, the bottom or right values are always the Y values</li>
     <li>The gradient for linear regression should always be runned to 2 dp</li>
     <li>Please the minimum values accepted is 4 for X and Y inputs</li>
     <li>The number of values, should be entered</li>
 </ul>
 <hr>
 <h3>Please choose from the left to solve your question</h3>-->
</div>