<div id = "container">
	<h4>Simple Linear Regression Taught by Sir Glover</h4>
	<hr>
	<p>The values of X </p>
	<input type = "text" value = "{{a}}" readonly/>
	<input type = "text" value = "{{c}}" readonly/>
	<input type = "text" value = "{{e}}" readonly/>
	<input type = "text" value = "{{g}}" readonly/>
	<input type = "text" value = "{{i}}" readonly/>
	<input type = "text" value = "{{k}}" readonly/>
	<input type = "text" value = "{{m}}" readonly/>
	<input type = "text" value = "{{o}}" readonly/>
	<input type = "text" value = "{{q}}" readonly/>
	<input type = "text" value = "{{s}}" readonly/>
	<input type = "text" value = "{{u}}" readonly/>
	<input type = "text" value = "{{w}}" readonly/>
	<input type = "text" value = "{{y}}" readonly/> 
	Sum X = {{xr}} 
		
	<hr>
	<p>The values of Y</p>
	<input type = "text" value = "{{b}}" readonly/>
	<input type = "text" value = "{{d}}" readonly/>
	<input type = "text" value = "{{f}}" readonly/>
	<input type = "text" value = "{{h}}" readonly/>
	<input type = "text" value = "{{j}}" readonly/>
	<input type = "text" value = "{{l}}" readonly/>
	<input type = "text" value = "{{n}}" readonly/>
	<input type = "text" value = "{{p}}" readonly/>
	<input type = "text" value = "{{r}}" readonly/>
	<input type = "text" value = "{{t}}" readonly/>
	<input type = "text" value = "{{v}}" readonly/>
	<input type = "text" value = "{{x}}" readonly/>
	<input type = "text" value = "{{z}}" readonly/> 
	Sum Y = {{yr}}
	<hr>
	<p>The values of X<sup>2</sup></p>
	<input type = "text" value = "{{a * a}}" readonly/>
	<input type = "text" value = "{{c * c}}" readonly/>
	<input type = "text" value = "{{e * e}}" readonly/>
	<input type = "text" value = "{{g * g}}" readonly/>
	<input type = "text" value = "{{i * i}}" readonly/>
	<input type = "text" value = "{{k * k}}" readonly/>
	<input type = "text" value = "{{m * m}}" readonly/>
	<input type = "text" value = "{{o * o}}" readonly/>
	<input type = "text" value = "{{q * q}}" readonly/>
	<input type = "text" value = "{{s * s}}" readonly/>
	<input type = "text" value = "{{u * u}}" readonly/>
	<input type = "text" value = "{{w * w}}" readonly/>
	<input type = "text" value = "{{y * y}}" readonly/> 
	Sum X<sup>2</sup> = {{xx}}
	<hr>
	<p>The values of xy </p>
	<input type = "text" value = "{{a * b}}" readonly/>
	<input type = "text" value = "{{c * d}}" readonly/>
	<input type = "text" value = "{{e * f}}" readonly/>
	<input type = "text" value = "{{g * h}}" readonly/>
	<input type = "text" value = "{{i * j}}" readonly/>
	<input type = "text" value = "{{k * l}}" readonly/>
	<input type = "text" value = "{{m * n}}" readonly/>
	<input type = "text" value = "{{o * p}}" readonly/>
	<input type = "text" value = "{{q * r}}" readonly/>
	<input type = "text" value = "{{s * t}}" readonly/>
	<input type = "text" value = "{{u * v}}" readonly/>
	<input type = "text" value = "{{w * x}}" readonly/>
	<input type = "text" value = "{{y * z}}" readonly/> 
	Sum XY = {{xy}}
	<hr>
	<p>Total number of variables(n) = {{tt}}</p>
	
				<span style = "float: left; margin-left:5%;">m =</span>
				<span style = "float: left; margin-left: 5%;">(n)&times;(Σ(XY)) - (ΣX)(ΣY)</span>


				<span style = "float: left; margin-left: 12%;">=</span>
				<span style = "float: left; margin-left: 12%;">({{tt}}&times;{{xy}}) - ({{xr}}&times;{{yr}})</span>
				<br/>
				
				<span style = "text-decoration: overline; float: left; margin-left: 14%;">
					((n)&times;(ΣX<sup>2</sup>) - (ΣX)(ΣX))</span>
		
				
				<span style = "text-decoration: overline; float: left; margin-left: 25%;">
					(({{tt}}&times;{{xx}}) - ({{xr}}&times;{{xr}}))</span></span>
				<br/><br/>

				<span style = "float: left; margin-left:5%;">m =</span> 
				<span style = "float: left; margin-left:5%;">({{one}}) - ({{two}})</span>


				<span style = "float: left; margin-left: 25%;">=</span>
				<span style = "float: left; margin-left: 15%">{{five}}</span>
				
				<br/>
				<span style = "text-decoration: overline; float: left; margin-left: 14%;">
					(({{three}}) - ({{four}}))</span></span>

				<span style = "text-decoration: overline; float: left; margin-left: 40%;">{{six}}</span></span>

					<br/>
				
	<hr/>
		<span>m =</span> 
		<span style ="margin-left: 10px;">{{seven}}</span>

		<br/>
		<br/>
				
	</div> 
