<div>
<h3>Linear Regression</h3>
<hr/>
In statistics, linear regression is a linear approach to modelling the
 relationship between a scalar response (or dependent variable) and one or more explanatory variables 
 (or independent variables).
The case of one explanatory variable is called simple linear regression.
<hr/>
<ul>
Linear regression has many practical uses.
<li>
If the goal is prediction, or forecasting, or error reduction,
[clarification needed] linear regression can be used to fit a predictive model to an observed data set of values of 
the response and explanatory variables.
</li>
</ul>
<br/>
<h3>Pearson Coorelation</h3>
<hr/>
Pearson's correlation coefficient is a measure of the linear correlation between two variables X and Y. 
It has a value between +1 and −1, where 1 is total positive linear correlation, 0 is no linear correlation, and −1 
is total negative linear correlation. 
It was developed by Karl Pearson from a related idea introduced by Francis Galton in the 1880s.
<br/>
<hr/>
<h3>Formulaes</h3>
<h4 style = "float: left; margin-left: 5%;">Simple Linear Regression</h4>
<h4 style = "float: left; margin-left: 25%;">Pearson Correlation</h4>
<span><br/><br/>
    <span style = "float: left; margin-left: 5%;">m =</span>
    <span style = "float: left; margin-left: 5%;">(n)&times;(Σ(XY)) - (ΣX)(ΣY)</span>

    <span style = "float: left; margin-left: 10%;">m =</span>
    <span style = "float: left; margin-left: 10%;">(n)&times;(Σ(XY)) - (ΣX)(ΣY)</span>
    <br/>
				
	<span style = "text-decoration: overline; float: left; margin-left: 14%;">
    ((n)&times;(ΣX<sup>2</sup>) - (ΣX)(ΣX)) </span> 

    <span style = "text-decoration: overline; float: left; margin-left: 50%; margin-top: -35px;">
    &radic;<span style = "text-decoration: overline;">(((n)&times;(ΣX<sup>2</sup>) - (ΣX)(ΣX))&times;((n)&times;(ΣY<sup>2</sup>) - (ΣY)(ΣY)))</span><br/><br/>
   </span>             
    </span>
    <br/>
    <hr/>
    <img src = ".\assets\images\pearson.jpg" alt = " pearson and linear" style = "width: 80%; height: 10%;"/>
    <br/>
    <br/>
    <br/>

</div>