<div>
        <h4>Pearson Correlation Taught by Sir Glover</h4><br/>
        <p>Place in X value below</p>
        <input type = "text" ng-model = "a" required/>
        <input type = "text" ng-model = "c" required/>
        <input type = "text" ng-model = "e" required/>
        <input type = "text" ng-model = "g" required/>
        <input type = "text" ng-model = "i" required/>
        <input type = "text" ng-model = "k" required/>
        <input type = "text" ng-model = "m" required/>
        <input type = "text" ng-model = "o" required/>
        <input type = "text" ng-model = "q" required/>
        <input type = "text" ng-model = "s" required/>
        <input type = "text" ng-model = "u" required/>
        <input type = "text" ng-model = "w" required/>
        <input type = "text" ng-model = "y" required/> <br>
        <hr>
        <p>Place in Y value below</p>
        <input type = "text" ng-model = "b" required/>
        <input type = "text" ng-model = "d" required/>
        <input type = "text" ng-model = "f" required/>
        <input type = "text" ng-model = "h" required/>
        <input type = "text" ng-model = "j" required/>
        <input type = "text" ng-model = "l" required/>
        <input type = "text" ng-model = "n" required/>
        <input type = "text" ng-model = "p" required/>
        <input type = "text" ng-model = "r" required/>
        <input type = "text" ng-model = "t" required/>
        <input type = "text" ng-model = "v" required/>
        <input type = "text" ng-model = "x" required/>
        <input type = "text" ng-model = "z" required/> <br>
        <hr>
        <p>The number of values</p>
        <input type = "text" ng-model = "tt" required/>
        <hr>
        <button type = "button"  ng-click = "doCal()">Calculate</button>
        <br/><br/>
    </div>