<div id = "container">
    <h4>Solution To The Pearson Corelation Qustion</h4>
    <hr>
    <p>The values of X </p>
    <input type = "text" value = "{{a}}" readonly/>
    <input type = "text" value = "{{c}}" readonly/>
    <input type = "text" value = "{{e}}" readonly/>
    <input type = "text" value = "{{g}}" readonly/>
    <input type = "text" value = "{{i}}" readonly/>
    <input type = "text" value = "{{k}}" readonly/>
    <input type = "text" value = "{{m}}" readonly/>
    <input type = "text" value = "{{o}}" readonly/>
    <input type = "text" value = "{{q}}" readonly/>
    <input type = "text" value = "{{s}}" readonly/>
    <input type = "text" value = "{{u}}" readonly/>
    <input type = "text" value = "{{w}}" readonly/>
    <input type = "text" value = "{{y}}" readonly/> 
    SumΣX = {{xr}}
        
    <hr>
    <p>The values of Y</p>
    <input type = "text" value = "{{b}}" readonly/>
    <input type = "text" value = "{{d}}" readonly/>
    <input type = "text" value = "{{f}}" readonly/>
    <input type = "text" value = "{{h}}" readonly/>
    <input type = "text" value = "{{j}}" readonly/>
    <input type = "text" value = "{{l}}" readonly/>
    <input type = "text" value = "{{n}}" readonly/>
    <input type = "text" value = "{{p}}" readonly/>
    <input type = "text" value = "{{r}}" readonly/>
    <input type = "text" value = "{{t}}" readonly/>
    <input type = "text" value = "{{v}}" readonly/>
    <input type = "text" value = "{{x}}" readonly/>
    <input type = "text" value = "{{z}}" readonly/> 
    SumΣY = {{yr}}
    <hr>
                    <!--Solution-->
    <p>The values of X<sup>2</sup> </p>
    <input type = "text" value = "{{a * a}}" readonly/>
    <input type = "text" value = "{{c * c}}" readonly/>
    <input type = "text" value = "{{e * e}}" readonly/>
    <input type = "text" value = "{{g * g}}" readonly/>
    <input type = "text" value = "{{i * i}}" readonly/>
    <input type = "text" value = "{{k * k}}" readonly/>
    <input type = "text" value = "{{m * m}}" readonly/>
    <input type = "text" value = "{{o * o}}" readonly/>
    <input type = "text" value = "{{q * q}}" readonly/>
    <input type = "text" value = "{{s * s}}" readonly/>
    <input type = "text" value = "{{u * u}}" readonly/>
    <input type = "text" value = "{{w * w}}" readonly/>
    <input type = "text" value = "{{y * y}}" readonly/> 
    SumΣX<sup>2</sup> = {{xx}}
    <hr>
    <p>The values of Y<sup>2</sup> </p>
    <input type = "text" value = "{{b * b}}" readonly/>
    <input type = "text" value = "{{d * d}}" readonly/>
    <input type = "text" value = "{{f * f}}" readonly/>
    <input type = "text" value = "{{h * h}}" readonly/>
    <input type = "text" value = "{{j * j}}" readonly/>
    <input type = "text" value = "{{l * l}}" readonly/>
    <input type = "text" value = "{{n * n}}" readonly/>
    <input type = "text" value = "{{p * p}}" readonly/>
    <input type = "text" value = "{{r * r}}" readonly/>
    <input type = "text" value = "{{t * t}}" readonly/>
    <input type = "text" value = "{{v * v}}" readonly/>
    <input type = "text" value = "{{x * x}}" readonly/>
    <input type = "text" value = "{{z * z}}" readonly/> 
    SumΣY<sup>2</sup> = {{yy}}
    <hr>
    <p>The values of xy </p>
    <input type = "text" value = "{{a * b}}" readonly/>
    <input type = "text" value = "{{c * d}}" readonly/>
    <input type = "text" value = "{{e * f}}" readonly/>
    <input type = "text" value = "{{g * h}}" readonly/>
    <input type = "text" value = "{{i * j}}" readonly/>
    <input type = "text" value = "{{k * l}}" readonly/>
    <input type = "text" value = "{{m * n}}" readonly/>
    <input type = "text" value = "{{o * p}}" readonly/>
    <input type = "text" value = "{{q * r}}" readonly/>
    <input type = "text" value = "{{s * t}}" readonly/>
    <input type = "text" value = "{{u * v}}" readonly/>
    <input type = "text" value = "{{w * x}}" readonly/>
    <input type = "text" value = "{{y * z}}" readonly/> 
    SumΣXY = {{xy}}
    <hr>
    
    <p>Total number of variables(n) = {{tt}}</p>
    <span style = "float: left; margin-left: 150px;">m =</span> 
    <span style = "float: left; margin-left: 120px;">(n)&times;(Σ(XY)) - (ΣX)(ΣY)</span><br/>&radic;<span style = "text-decoration: overline;">(((n)&times;(ΣX<sup>2</sup>) - (ΣX)(ΣX))&times;((n)&times;(ΣY<sup>2</sup>) - (ΣY)(ΣY)))</span><br/><br/>
    <span style = "float: left; margin-left: 150px;">m =</span> 
    <span style = "float: left; margin-left: 160px;">({{tt}}&times;{{xy}}) - ({{xr}}&times;{{yr}})</span><br/><span style = "text-decoration: overline;">&radic;<span style = "text-decoration: overline;">((({{tt}}*{{xx}})
        - ({{xr}}&times;{{xr}}))(({{tt}}&times;{{yy}}) - ({{yr}}&times;{{yr}})))</span></span> <br/>

        {{one}} - {{two}}</span><br/><span style = "text-decoration: overline;">&radic;<span style = "text-decoration: overline;">((({{three}})
            - ({{four}}))(({{five}}) - ({{six}})))</span></span> <br/>
       
            {{seven}}<br/><span style = "text-decoration: overline;">&radic;<span style = "text-decoration: overline;"></span>
            (({{eight}})&times;({{nine}})) </span><br/>

            {{seven}}<br/><span style = "text-decoration: overline;">&radic;<span style = "text-decoration: overline;"></span>
            ({{ten}}) </span><br/>

            {{seven}}<br/><span style = "text-decoration: overline;"><span style = "text-decoration: overline;"></span>
            {{eleven}} </span><br/>
            m = {{twelve}} <br/>
            {{thirteen}}
               <br/>
               <br/>
    </div>
    
    


    

    
